.DS_Store

/go-php-module/c/.libs
/go-php-module/c/*.cache
/go-php-module/c/build
/go-php-module/c/includes
/go-php-module/c/modules
/go-php-module/c/*.h
/go-php-module/c/*.in
/go-php-module/c/*.la
/go-php-module/c/*.lo
/go-php-module/c/*.log
/go-php-module/c/*.so
/go-php-module/c/*.o
/go-php-module/c/config*
/go-php-module/c/*.fragments
/go-php-module/c/*.objects
/go-php-module/c/run-tests.php
/go-php-module/interface/*.h
/go-php-module/interface/*.so

!/go-php-module/c/config.m4
!/go-php-module/interface/main.h